[project]
	description = TestNGJava
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dilipdebsingha
[access "refs/for/refs/*"]
	read = group user/dilipdebsingha
	push = group user/dilipdebsingha
	label-Code-Review = -2..+2 group user/dilipdebsingha
	label-Verified = -1..+1 group user/dilipdebsingha
	rebase = group user/dilipdebsingha
	removeReviewer = group user/dilipdebsingha
	submit = group user/dilipdebsingha
[access "refs/heads/*"]
	read = group user/dilipdebsingha
	create = group user/dilipdebsingha
	push = +force group user/dilipdebsingha
	pushMerge = group user/dilipdebsingha
[access "refs/tags/*"]
	push = +force group user/dilipdebsingha
	pushTag = group user/dilipdebsingha
	pushSignedTag = group user/dilipdebsingha
